@mixin apercueT {
  width: 70%;
  text-align: justify;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 20px;
  border: 2px solid #efa48b;
  background-color: black;
  color: white;
}
@mixin apercue {
  width: 70%;
  text-align: justify;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

@mixin histoireT {
  width: 70%;
  text-align: justify;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
  border: 2px solid #efa48b;
  background-color: white;
  color: black;
}
@mixin histoire {
  width: 70%;
  text-align: justify;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

@mixin titre {
  margin: 0px auto;
  margin-top: 25px;
  text-align: center;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 40px;
}
@mixin titrea {
  text-align: center;
  margin-top: 16px;
}

@mixin modals__img {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin modals__role {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

@mixin modals__Lorem {
  text-align: center;
}

@mixin modal__titre {
  text-align: center;
  font-size: 30px;
}

@mixin modal__content {
  background-color:#fae3d9;
}