//Utiliser les mixins pour faire les styles

@mixin formTitre {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}

@mixin formContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin formLabel {
    text-decoration: underline;
}

@mixin btnContact {
    text-decoration: none;
}