
@mixin sousMenu{
        border:none;
        text-decoration:none ;
        margin-right: 20px;
        margin-left: 20px;
        //display:flex;
       // flex-direction:row;

        //margin:0px;
        //justify-content: center;
}
@mixin enteteIcon{
    display:inline-block;
    flex-direction:row;
    justify-content: center;
    //flex-wrap: wrap;
}
@mixin imageConsole{
    display:inline-block;
  
    width:80%;
    margin-left: 20px;
   // display:flex;
    //flex-direction:row;
  //  flex-wrap: wrap;
    //flex-wrap: nowrap;
}
@mixin icon{
    width:10%;
}
@mixin produits{
    display:grid;
    grid-template-columns: repeat(auto-fit,150px);
    grid-template-rows:repeat(auto-fit);
    gap:10px;
}
@mixin item{
    margin-top:50px;
    width:100%;
    display:inline-block;
}
@mixin img{
  width:100%;
  object-fit:contain;
  margin:auto;
}

@mixin p{
   // display:flex;
    text-align: center;
    margin:auto;
}