//Utiliser les mixins pour faire les styles

//Aligner au centre et padding
@mixin sectionContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 175px; //Séparer la section de contact avec celle des membres
    width: 100%; //Prendre toute la taille du container
}

//Centrer le titre et décoration
@mixin formTitre {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    margin-bottom: 25px;
    width: 100%;
}

//Aligner au centre de la section
@mixin formContact {
    display: flex;
    flex-direction: column;
    align-items: center; //Aligner les champs de text
    justify-content: center;
    width: 1000px; //donner une taille fixe au formulaire
}

//Aligner le form du prénom et du courriel avec les autres champs de text.
@mixin formPC {
    margin-right: 25px;
}

//Aligner le label de message en haut à gauche du champ de text
@mixin formMessage {
    display: flex;
    align-items: flex-start;
}

//décoration et marges
@mixin formLabel {
    text-decoration: underline;
    margin-right: 45px;
}

//Bordure input et textarea
@mixin input {
    border-radius: 25px;
    padding: 5px 200px;
    //width: 100%;
}


//Aligner les champs de text une par dessus de l'autre
@mixin textarea {
    border-radius: 25px;
    padding: 5px 100px;
    width: 100%; //Prendre toute la taille pour le rendre responsive
}

//Espace placeholder
@mixin placeholder {
    padding: 0px 100px;
    width: 100%;
}

//style bouton et ajuster le padding
@mixin btnContact {
    text-decoration: none;
    padding: 5px 25px;
    align-self: center; //Aligner le bouton au centre
    //width: 125px;
}