
@mixin sousMenu{
    background-color: blue;
        border:none;
        text-decoration:none ;
        //display:flex;
       // flex-direction:row;

        //margin:0px;
        //justify-content: center;
}
@mixin enteteIcon{
    display:inline-block;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
@mixin imageConsole{
    display:inline-block;
  
    width:50%;
   // display:flex;
    //flex-direction:row;
    flex-wrap: nowrap;
    //flex-wrap: nowrap;
}
@mixin icon{
    width:10%;
}
@mixin produits{
    display:grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}
@mixin item{
    width:10%;
}


