@use 'variables';


@mixin section__erreur404 {
   background-color:variables.$peche;
   height: 700px;
   width: 100%;
//    display: flex;
// justify-content: center;
// align-items: center;
// flex-direction: column;
}
@mixin erreur404__titre {
margin-bottom: 50px;
// animation: tada;
// animation-duration: 4s; 

}

@mixin erreur404__titre2 {
   font-size: 20px;
}
