
@mixin section__erreur404 {
   background-color: #EFA48B;
   height: 700px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}

@mixin erreur404__titre {
margin-bottom: 50px;
font-size: 200px;
}

@mixin erreur404__titre2 {
   font-size: 20px;
}
