@use 'variables';


@mixin section__erreur404 {
   background-color: variables.$peche;
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin erreur404__titre {
font-size: 200px;
margin-bottom: 50px;

}


@mixin erreur404__titre2 {
   font-size: 20px;
}
