@use 'variables';

@mixin sectionMembres {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

//Style et alignement pour le titre de la section membres
@mixin membreTitre {  
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    margin-bottom: 25px;
}

@mixin membreCard{
}

@mixin membreImg {
    border-radius: 20px;
    border: 2px solid variables.$peche;
}

@mixin membreRole {
    
}
@mixin membreNom {
    
}

@mixin membreText {
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    text-align: center;
   background-color: variables.$peche;
   border-radius: 5px 5px 5px 5px;
}

