@use 'variables';

@mixin sectionMembres {
    width: 100%;
    //margin-top: 150px; //Enlever la marge qui sépare la section contact du titre contact
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; //Mettre les cartes sur deux lignes s'il n'y a pas d'espace
}

//Style et alignement pour le titre de la section membres
@mixin membreTitre {  
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    margin-bottom: 25px;
}

@mixin membreCard{
   width: 300px;
   height: 400px; //Donner une taille fixe aux cartes
   margin-bottom: 100px;
    
}

@mixin membreImg {
    width: 100%;
    border-radius: 20px;
    border: 2px solid variables.$peche;
}

@mixin membreRole {
    
}
@mixin membreNom {
    
}

@mixin membreText {
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    text-align: center;
   background-color: variables.$peche;
   border-radius: 5px 5px 5px 5px;
}