@mixin hero__nouvelles {
    position: relative;
    margin: 0px;
    width: 100%;
  }

@mixin imgHero {
  width: 100%;
  height: 100%;
}

@mixin contraste {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*Mettre le filtre de couleur par dessus de la balise picture*/
@mixin accueilContraste {
    opacity: 50%;
    z-index: 1;
}
  
/*Couvrir la section avec l'image en portrait sans la déformer et ajuster sa position*/
@mixin imgPortrait {
    object-fit: cover;
    object-position: 0% 100%;
}
  
/*Cacher l'image landscape par défaut*/
@mixin imgLandscape {
    object-fit: cover;
    object-position: 0% 100%;
}

/*Centrer la colonne verticalement et horizontalement*/
/*Aligner le title-1 et la présentation du groupe au milieu de la colonne*/
@mixin h1Nouvelles {
    margin: 0px auto;
    margin-top: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 40px;
}

@mixin sectionNouvelles {
    display:grid;
    grid-template-columns: repeat(auto-fit,300px);
    grid-template-rows:repeat(auto-fit);
    gap:50px;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 50px;
}

@mixin itemNouvelle {
    position: relative;
    margin-top:50px;
    width:300px;
    height:100%;
    display:inline-block;
}

@mixin imgNouvelle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

@mixin itemPNouvelle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
}