$peche: #fcc8b2;
$pechehover: #efa48b;
$pecheopacity: rgb(239, 164, 139, 0.5);
$noiropacity: rgba(0, 0, 0, 0.2);
$noiropacity2: rgba(0, 0, 0, 0.6);
$pecheopacity01: rgba(233, 116, 77, 0.5);
$noir: #000;
$blanc: #fff;
$menu: "Ruda", SemiBold;
$titre: "Roboto", Medium;
$text: "Roboto", thin;
$lien: "Roboto", Regular;
