$peche: #FCC8B2;
$pechehover: #EFA48B;
$pecheopacity:rgb(239, 164, 139, 0.5);
$noir: #000;
$blanc: #fff;
$menu: 'Ruda', SemiBold;
$titre: 'Roboto', Medium;
$text: 'Roboto', thin;
$lien: 'Roboto', Regular;