
@use 'partials/membres';
@use 'partials/variables';
@use 'partials/contact';
//@use 'partials/nav_header';
//@use 'partials/site_footer';
@use  'partials/console';

* {
   box-sizing: border-box;
}


html, body {
   margin: 0px;
   width: 100%;
}

//Ajouter la fonte pour tout le text dans la page
body {
   font-family: variables.$text;
}

.navigation {
   margin: 25px auto; //Rendre la barre de navigation responsive
   width: 1000px;
}

.logo img {
   width: 200px;
}

//Aligner les liens des menus au centre
//Header
.heros__boite-description{
   overflow: hidden;
   text-overflow: ellipsis; // This is where the magic happens
   padding: 30px;
   margin-top: 60px;
   height: 400px;
   border: 1px solid variables.$pechehover;
   border-radius: 20px;
   text-align: center;
}
.row{
   display: flex;
   flex-wrap: nowrap;
}
.menu-header {
   display: flex;
   justify-content: space-around;
   background-color: variables.$noir;
   width: 100%;
   border-radius: 25px;
   font-size: 22px;
   font-family: variables.$menu; //Vérifier que c'est la bonne
   margin-left: 25px;
}

//Cibler tous les liens du menus
.menu a {
   color: variables.$blanc;
   text-decoration: none;
}

//membres

.section__membres{
   @include membres.sectionMembres;
}

.membre__titre{
   @include membres.membreTitre;
}

.membre__card{
   @include membres.membreCard;
}

.membre__img{
   @include membres.membreImg;
}

.membre__role{
   @include membres.membreRole;
}

.membre__nom{
   @include membres.membreNom;
}

//Effet de survole
.menu a:hover {
   color: variables.$pechehover;
}

// console

.console__sous-menu{
   @include console.sousMenu;
}
.enteteIcon{
   @include console.enteteIcon;
}
.imageConsole{
   @include console.imageConsole;
}

.icon{
   @include console.icon;
}
.produits{
   @include console.produits;
}
.item{
   @include console.item;
}
//Aligner au centre et ajouter une marge du haut
.section__contact {
   @include contact.sectionContact;
}

//Aligner le titre de la page de contact
.contact__titre {
   @include contact.formTitre;
   font-family: variables.$titre;
}

//Inclure les styles pour aligner le contenu du formulaire de contact
.contact__form {
   @include contact.formContact;
}

.contact__form label {
   @include contact.formLabel;
}

.btn__envoyer {
   @include contact.btnContact;
}

footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: variables.$noir;
   height:200px;
   width:auto;
   padding:20px;
}
.groupePied{
   width:1000px;
   margin:auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.reseauxsociaux{
   display: flex;
   flex-direction: row;
   justify-content: end;
   align-items: center;
   height:100%;
}
.facebook{
   width:20px;
   padding-bottom: 3px;
  
}
.facebook a{
   height: 20px;
   width:20px;
 
}
.telephone,a {
   color: variables.$blanc;
}

.courriel{
   margin-right:8px;
   margin-bottom:3px;
}
/*Carousel*/
.swiper{
   width: 100%;
}
.swiper-slide img {
   width: 50%;
   object-fit: contain;
 }


 /*footer*/
footer{
   width: 100%;
   position: absolute;
   bottom: 0;
}
 
 /*Membres*/
 .membre{
   @include membres.Affichermembres;
 }

