@use 'partials/contact';
@use 'partials/membres';
@use 'partials/creation';
@use 'partials/variables';

//@use 'partials/nav_header';
//@use 'partials/site_footer';
@use  'partials/console';

* {
   box-sizing: border-box;
}


html, body {
   margin: 0px;
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

//Ajouter la fonte pour tout le text dans la page
body {
   font-family: variables.$text;
}

.navigation {
   margin: 25px auto; //Rendre la barre de navigation responsive
   width: 1000px;
}

.logo img {
   width: 200px;
}

//Aligner les liens des menus au centre
//Header
article{
   margin-bottom: 20px;
}
.heros__boite-description{
   overflow: hidden;
   text-overflow: ellipsis; 
   padding: 30px;
   margin-top: 60px;
   height: 400px;
   border: 1px solid variables.$pechehover;
   border-radius: 20px;
   text-align: center;
   height: 100%;
}
main .row{
   display: flex;
   flex-wrap: nowrap;
}
.menu-header {
   display: flex;
   justify-content: space-around;
   background-color: variables.$noir;
   width: 100%;
   border-radius: 25px;
   font-size: 22px;
   font-family: variables.$menu; //Vérifier que c'est la bonne
   margin-left: 25px;
}

//Cibler tous les liens du menus
.menu a {
   color: variables.$blanc;
   text-decoration: none;
}

//navbar

.navbar-toggler-icon img{
   width: 40px;
}

.logoPartenaire img{
   width: 80px;
}

/*Carousel*/
.swiper{
   width: 50%;
}
.swiper-slide img {
   width: 100%;
   object-fit: contain;
}

/* Écran telephone*/
@media screen and (max-width: 375px){
   .heros__boite-description{
      margin: 0 5px ;
   }
   .heros__boite-description .heros__desc{
      display: none;
   }
   main .row{
      display: flex;
      flex-wrap: wrap;
   }
   .swiper{
      width: 100%;
   }
}

//membres

.section__membres{
   @include membres.sectionMembres;
}

.membre__titre{
   @include membres.membreTitre;
}

.membre__card{
   @include membres.membreCard;
}

.membre__img{
   @include membres.membreImg;
}

.membre__role{
   @include membres.membreRole;
}

.membre__nom{
   @include membres.membreNom;
}
.membre__text{
   @include membres.membreText;
}

//Effet de survole
.menu a:hover {
   color: variables.$pechehover;
}

// console
.entete__sous-menu{
   @include console.sousMenu;
}
.enteteIcon{
   @include console.enteteIcon;
}
.imageConsole{
   @include console.imageConsole;
}

.title__creation{
   @include creation.title_creation;
}
.icon{
   @include console.icon;
}
.icon p{
   @include console.p; 
}
.icon img{
   @include console.img; 
}
.produits{
   @include console.produits;
}
.item{
   @include console.item;
}
.imgItem{
   @include console.imgItem; 
}
.itemP{
   @include console.pItem; 
}
.item p:first-child{
   @include console.pItemFirst; 
}

//Aligner au centre et ajouter une marge du haut
.section__contact {
   @include contact.sectionContact;

   //Aligner le titre de la page de contact
   .contact__titre {
      @include contact.formTitre;
      font-family: variables.$titre;
   }

   //Inclure les styles pour aligner le contenu du formulaire de contact
   .contact__form {
      @include contact.formContact;

      //Marges et décorations
      & label {
         @include contact.formLabel;
      }

      //Couleur de bordure
      & input {
         @include contact.input;
         border: solid 2px variables.$peche;
      }

      //Aligner les forms et prendre toute la taille du formulaire
      & .form__nom, & .form__prenom, & .form__courriel, & .form__sujet, & .form__message {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
      }

      //Aligner les champs de text du prénom et du courriel avec les autres
      & .form__prenom label, & .form__courriel label {
         @include contact.formPC;
      }

      //Aligner le Label Message en haut de la boîte.
      & .form__message {
         @include contact.formMessage;
      }

      & textarea {
         @include contact.textarea;
         border: solid 2px variables.$peche;
      }

      & .btn__envoyer {
         @include contact.btnContact;
         background-color: variables.$peche;
      }

      & .btn__envoyer:hover {
         //@include contact.btnContact;
         background-color: variables.$pechehover;
         text-decoration: underline;
      }
   }

}

//Mise en page du placeholder dans le champ de text
.contact__form:placeholder {
   @include contact.placeholder;
}

.groupePied{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.reseauxsociaux{
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: end;
   align-items: center;
   height:100%;
}
.facebook{
   width:20px;
   padding-bottom: 3px;
  
}
.facebook a{
   height: 20px;
   width:20px;
 
}
.telephone,a {
   color: variables.$blanc;
}

.courriel{
   margin-right:8px;
   margin-bottom:3px;
}

//footer
footer {
   display: flex;
   align-items: center;
   background-color: #000;
   height: 200px;
   width: 100%;
   padding: 20px;
   z-index: 1;
   margin-top: auto;
}